@{
    ViewData["Title"] = "Home";
}
<section>
    <div class="text-center mb-2">
        <h1 class="display-4">Bem-Vindo(a) à QueerTrip</h1>
    </div>
</section>
<section>
    <div id="carouselExampleControls" class="carousel slide mb-3" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/images/amsterdã.jpg" alt="Amsterdã">
                <div class="carousel-caption d-none d-md-block">
                   

                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/presentation.png" alt="Presentation">
                <div class="carousel-caption d-none d-md-block">
                   
                </div>

            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/images/uruguai.png" alt="Uruguai">
                <div class="carousel-caption d-none d-md-block">
                    
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
</section>



